html {
    background-color: #EEEEEE;
}

html,
body,
main {
    height: 100%;
    text-align: center;
}

body,
main {
    display: flex;
    flex-direction: column;
}

body {
    justify-content: space-between;
    margin: 0;
    background-image: url("./images/dango-offwhite.png");
    background-repeat: no-repeat;
    background-position: center;
}

main {
    width: 80%;
    align-items: center;
    align-self: center;
}

footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex: 0;
}

.display-move-container {
    display: flex;
    gap: 3em;
}

.selectable-icon {
    height: auto;
    width: 50%;
}

.player-move,
.computer-move {
    height: auto;
    width: 25%;
}

.hide {
    display: none;
}

.display-score-container {
    display: flex;
}

.score {
    height: 100px;
    width: 200px;
    border: 1px solid black 
}

.screen-reader {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}